body, html {
    height: 100%;
    margin: 0;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e1e1e1;
}

.title {
    text-align: center;
    margin: 0;
}