@import "tailwindcss";

@font-face {
    font-family: 'KennyPixelSquareFont';
    src: url('./fonts/kenney_pixel_square-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KenneyBold';
    src: url("./fonts/Kenney Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme{
    --font-pixel-square: "KennyPixelSquareFont";
    --font-bold: "KenneyBold";
}